html{
	width: 100vw;
	height: 100dvh;
	margin: 0;
	overflow-x: hidden;
}

body{
	width: 100%;
	margin: 0;
}
nav {
	width: 100%;
}
		
		th, td{
  border: 1px solid black;
  padding: 10px;
}
ul{
    display: flex;
    padding: 10px;
    width: calc(100%-20px);
    justify-content: space-between;
}

li{
    list-style-type: none;
}

#selectedWord{
    width: 60px;
}

.btnPlus{
    max-width: 20px;
}

button:not(.btnPlus){
    padding : 5px 10px;
    min-width: 80px;
    min-height: 30px;
}

h1{
    width: 100%;
    text-align: center;
}

#legend{
    font-weight: bold;
    font-size: medium;
}

thead{
    font-size: large;
}

#listDiv{
    width: calc(100% - 20px);
    padding: 10px;
    justify-content: center;
}

#cardDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table{
    width: 100%;
}
#table{
    width: 100%;
    border-collapse: collapse;
}

#all{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin:0;
}

.find, #solution{
    font-size: xx-large;
    text-align: center;
}

#findDiv, #solutionDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btnPronunciation, #btnSolution{
    width: 50%;
    margin: 20px 0;
}

#pronunciation{
    font-style: italic;
}

#note{
    width: 25px;
}

#fieldset{
    width: calc(100%-60px);
    margin: 10px;
}
#fields{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
		

/* The switch - the box around the slider */

#selectedWordCard{
    width: 100%;
    display: flex;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  #divNbrItems{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: fixed;
      bottom: 10px;
  }

  #nbrItems{
      height: 20px;
      width: 20px;
      border-radius: 50%;
      margin-right: 10px;
      display: flex;
      color: white;
      justify-content: center;
      background-color: lightgray;
  }


  #btnNext{
      margin-top: 20px;
  }

  #pages{
      width: 100%;
      display: flex;
      height: 100%;
      justify-content: space-between;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        #search{
         max-width: 100px;
        }
    }
    @media only screen and (min-width : 1224px){
        #search{
            min-width: 300px;
        }
    }